extends layout
include mixins/drawingLegend

block content
  #contents
    .controls
      button.controls-item(id='#btn_export_pdf' onclick='downloadPDF()') Download PDF
      button.controls-item(id='#configure_page' onClick='window.location="/configurator"') Configure New
    #svgBody
      each sheet, index in sheets
        if index === 'sheet1'
          include mixins/sheetOne
          +drawingLegend(sheet)(id=index)
            +sheetOne(sheet)        
        else if index === 'sheet2'
          include mixins/sheetTwo
          +drawingLegend(sheet)(id=index)
            +sheetTwo(sheet)
        else if index === 'sheet3'
          include mixins/sheetThree
          +drawingLegend(sheet)(id=index)
            +sheetThree(sheet)
        else if index === 'sheet4'
          include mixins/sheetFourDMX
          +drawingLegend(sheet)(id=index)
            +sheetFourDMX(sheet)
        else if index === 'sheet5'
          include mixins/sheetFive
          +drawingLegend(sheet)(id=index)
            +sheetFive(sheet) 
