extends layout
include mixins/drawingLegend
include mixins/sheetOne
include mixins/sheetTwo
include mixins/sheetThree
include mixins/sheetFour
include mixins/sheetFive


block content
  .controls
    h1= title
    button(id='#btn_export_pdf' onclick='downloadPDF()') Download PDF
  .svgBody
    each sheet, index in sheets
      if index === 'sheet1'
        +drawingLegend(sheet)(id=index)
          +sheetOne(sheet)        
      if index === 'sheet2'
        +drawingLegend(sheet)(id=index)
          +sheetTwo(sheet)
      if index === 'sheet3'
        +drawingLegend(sheet)(id=index)
          +sheetThree(sheet)
      if index === 'sheet4'
        +drawingLegend(sheet)(id=index)
          +sheetFour(sheet)
      if index === 'sheet5'
        +drawingLegend(sheet)(id=index)
          +sheetFive(sheet) 
