mixin dimensions(options)
  mixin leadWhip()
    -if (options.powerInput === 'W' && options.powerInputPosition === 'E' )
      g()
        path(d='m0.39105 298.617v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m-139.125 278.094 12.4484-1.75572-0.0325 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m-139.236 298.617v-52.9174' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m0.524526 278.094-12.4484 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m-43.6036 278.094h44.1282' style='fill:#000000;stroke-width:.800004;stroke:#000000')
        path(d='m-139.125 278.094h44.1282' style='fill:#000000;stroke-width:.800004;stroke:#000000')
        
        text(style='font-family:Arial;font-size:16.66px;')
          tspan(x='-60.91' y='282.67') &quot;
        
        text(text-anchor='end' style='font-family:Arial;font-size:16.66px;')
          tspan(x='-61' y='282.90') !{options.leadWhipLength}
    
    -else if (options.powerInput === 'W' && options.powerInputPosition === 'T')
      g()
        path(d='m0.2682 173.303v-28.0645' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m59.8023 159.383 12.4608-1.75572-0.0325 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m0.294673 159.383-12.4608 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m-48.6271 49.1084h99.9518' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m-48.6271 112.67h42.4088' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m-27.301 112.71 1.75572 12.4608-3.72869-0.0329z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m-27.527 49.0464-1.75572-12.4608 3.72869 0.0329z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m59.6338 173.303v-28.0645' style='fill:none;stroke-width:.8;stroke:#000000')
        
        text(style='font-family:Arial;font-size:16.67px;')
          tspan(x='32.93' y='163.28') &quot;
          tspan(x='23.79' y='163.19') 4
          tspan(x='-20.83' y='84') &quot;
        
        text(text-anchor='end' style='font-family:Arial;font-size:16.67px;')
          tspan(x='-22' y='86.77') !{options.leadWhipLength}
    
    -else if (options.powerInput === 'L')
      g()
        path(d='m0.4 298.6v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m-107.382 278.077 12.4484-1.75572-0.0325 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m-107.091 298.6v-52.9174' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m0.533476 278.077-12.4484 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m-25.9198 278.077h26.4533' style='fill:#000000;stroke-width:.800004;stroke:#000000')
        path(d='m-107.382 278.077h26.4533' style='fill:#000000;stroke-width:.800004;stroke:#000000')
        
        text(style='font-family:Arial;font-size:16.66px;')
          tspan(x='-44.42' y='282.65' ) &quot;
        
        text(text-anchor='end' style='font-family:Arial;font-size:16.66px;')
          tspan(x='-45' y='282.88' ) !{options.leadWhipLength}

  mixin s19()
    g()
      path(d='m0.42705 298.617v-40' style='fill:none;stroke-width:.8;stroke:#000000')
      path(d='m-63.2784 298.617v-37.6528' style='fill:none;stroke-width:.799997;stroke:#000000')
      path(d='m-63.5108 278.094-12.4484 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
      path(d='m-47.2039 218.89-10.0438-7.56087 2.65985-2.61332z' style='fill:#000000;stroke-width:.8;stroke:#000000')
      path(d='m-70.6148 195.479 23.4109 23.4109' style='fill:none;stroke-width:.799997;stroke:#000000')
      path(d='m-70.6148 195.479-14.1806-1e-5' style='fill:none;stroke-width:.799997;stroke:#000000')
      path(d='m-105.653 195.344h15.2057' style='fill:#000000;stroke-width:.800005;stroke:#000000')
      path(d='m-135.593 199.898 1.26205-1.25402q-1.55948-1.80064-1.55948-4.13986 0-2.58842 1.82475-4.41318 1.83281-1.83281 4.42122-1.83281 2.29904 0 4.13184 1.55949l1.26205-1.25401 0.55466 0.55466-1.25401 1.26206q1.55949 1.80064 1.55949 4.13183 0 2.58841-1.8328 4.42122-1.83281 1.82476-4.41318 1.82476-2.33923 0-4.13183-1.55145l-1.26206 1.25401zm1.82476-1.81672 7.69291-7.70095q-1.59164-1.32638-3.56108-1.32638-2.26689 0-3.86657 1.59968-1.59163 1.59164-1.59163 3.85049 0 2.02572 1.32637 3.57716zm0.55466 0.55466q1.5434 1.32638 3.57717 1.32638 2.25884 0 3.85048-1.59164 1.59968-1.59968 1.59968-3.85852 0-2.00161-1.32637-3.56913z' style='stroke-width:.960001')
      
      g(transform='translate(0 5)')
        path(d='m-36.9395 278.094h15.2057' style='fill:#000000;stroke-width:.800005;stroke:#000000')
        
        text(style='font-family:Arial;font-size:16.6584px;')
          tspan(x='-21.69' y='282.27') &quot;
          tspan(x='-34.43' y='293.34') 8
          tspan(x='-34.83' y='274.67') 1
          tspan(x='-47.69' y='282.90') 4    
      
      text(style='font-family:Arial;font-size:16.6584px;')
        tspan(x='-90.436646' y='199.55992') &quot;
        tspan(x='-116.43839' y='200.19298') 2
        tspan(x='-103.57753' y='191.96223') 3
        tspan(x='-103.17563' y='210.63197') 4
      
      

  mixin singleDMXBackView()
    path(d='m0.4-5v-40' style='fill:none;stroke-width:.8;stroke:#000000')
    path(d='m109.774-5v-40' style='fill:none;stroke-width:.8;stroke:#000000')
    path(d='m190.625-5v-40' style='fill:none;stroke-width:.8;stroke:#000000')
    path(d='m0.31823-25.9017h19.5732' style='fill:#000000;stroke-width:.800001;stroke:#000000')
    path(d='m0.31823-25.9017 12.4608-1.75572-0.0325 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
    path(d='m109.549-25.4777h-19.4942' style='fill:#000000;stroke-width:.799999;stroke:#000000')
    path(d='m109.549-25.4777-12.4608 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
    text(x='68.397285' y='-20.448481' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
      tspan(x='68.397285' y='-20.448481' style='font-size:16.6667px;stroke-width:.8') &quot;
    text(x='37.089424' y='-20.531' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
      tspan(x='37.089424' y='-20.531' style='font-size:16.6667px;stroke-width:.8') 7
    text(x='51.672752' y='-28.864344' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
      tspan(x='51.672752' y='-28.864344' style='font-size:16.6667px;stroke-width:.8') 5
    text(x='46.525444' y='-10.114314' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
      tspan(x='46.525444' y='-10.114314' style='font-size:16.6667px;stroke-width:.8') 16
    path(d='m64.5663-25.4777h-16.3058' style='fill:#000000;stroke-width:.8;stroke:#000000')
    text(x='167.51848' y='-20.448481' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
      tspan(x='167.51848' y='-20.448481' style='font-size:16.6667px;stroke-width:.8') &quot;
    text(x='136.21062' y='-20.531' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
      tspan(x='136.21062' y='-20.531' style='font-size:16.6667px;stroke-width:.8') 5
    text(x='150.79393' y='-28.864344' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
      tspan(x='150.79393' y='-28.864344' style='font-size:16.6667px;stroke-width:.8') 7
    text(x='145.64662' y='-10.114314' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
      tspan(x='145.64662' y='-10.114314' style='font-size:16.6667px;stroke-width:.8') 16
    path(d='m163.312-25.4777h-15.8369' style='fill:#000000;stroke-width:.8;stroke:#000000')
    path(d='m191.249-25.9017h19.5732' style='fill:#000000;stroke-width:.800001;stroke:#000000')
    path(d='m191.249-25.9017 12.4608-1.75572-0.0325 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')

  mixin dualDMXBackView()
    g()
      path(d='m0.4-5v-40' style='fill:none;stroke-width:.8;stroke:#000000')
      path(d='m109.774-5v-40' style='fill:none;stroke-width:.8;stroke:#000000')
      path(d='m269.95-5v-40' style='fill:none;stroke-width:.8;stroke:#000000')
      path(d='m0.31823-25.9017h19.5732' style='fill:#000000;stroke-width:.800001;stroke:#000000')
      path(d='m0.31823-25.9017 12.4608-1.75572-0.0325 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
      path(d='m109.549-25.5898h-19.4942' style='fill:#000000;stroke-width:.799999;stroke:#000000')
      path(d='m109.549-25.4777-12.4608 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
      text(x='68.397285' y='-20.448481' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='68.397285' y='-20.448481' style='font-size:16.6667px;stroke-width:.8') &quot;
      text(x='37.089424' y='-20.531' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='37.089424' y='-20.531' style='font-size:16.6667px;stroke-width:.8') 7
      text(x='51.672752' y='-28.864344' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='51.672752' y='-28.864344' style='font-size:16.6667px;stroke-width:.8') 5
      text(x='46.525444' y='-10.114314' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='46.525444' y='-10.114314' style='font-size:16.6667px;stroke-width:.8') 16
      path(d='m64.5663-25.4777h-16.3058' style='fill:#000000;stroke-width:.8;stroke:#000000')
      text(x='205.01839' y='-20.448481' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='205.01839' y='-20.448481' style='font-size:16.6667px;stroke-width:.8') &quot;
      text(x='163.38115' y='-20.531' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='163.38115' y='-20.531' style='font-size:16.6667px;stroke-width:.8') 10
      text(x='185.99509' y='-28.864344' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='185.99509' y='-28.864344' style='font-size:16.6667px;stroke-width:.8') 11
      text(x='184.22914' y='-10.114314' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='184.22914' y='-10.114314' style='font-size:16.6667px;stroke-width:.8') 16
      path(d='m203.071-25.4777h-18.0964' style='fill:#000000;stroke-width:.8;stroke:#000000')
      path(d='m109.43-25.5898h42.4915' style='fill:#000000;stroke-width:.800002;stroke:#000000')
      path(d='m109.43-25.7019 12.4608-1.75572-0.0325 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
      path(d='m269.95-25.5898h-47.5772' style='fill:#000000;stroke-width:.799998;stroke:#000000')
      path(d='m269.95-25.4777-12.4608 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')

  mixin DMXSide(xCoord)
    g(transform=`translate(${xCoord} 0)`)
      path(d='m223.718 142.107 1.75572 12.4608-3.72869-0.0329z' style='fill:#000000;stroke-width:.8;stroke:#000000')
      path(d='m197.5 87.0334h52.2123z' style='fill:none;stroke-width:.8;stroke:#000000')
      path(d='m223.501 85.8181-1.75572-12.4609 3.72869 0.0329z' style='fill:#000000;stroke-width:.8;stroke:#000000')
      path(d='m223.501 85.8181v-22.9359' style='fill:none;stroke-width:.8;stroke:#000000')
      path(d='m275.743 62.8822h-52.2416' style='fill:none;stroke-width:.800001;stroke:#000000')
      text(x='285.12747' y='68.766006' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='285.12747' y='68.766006' style='font-size:16.6667px;stroke-width:.8') 3
      path(d='m314.107 62.8822h-17.7425' style='fill:none;stroke-width:.799998;stroke:#000000')
      text(x='300.62155' y='58.379192' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='300.62155' y='58.379192')
          tspan(x='300.62155' y='58.379192' style='font-size:16.6667px;stroke-width:.8') 9
      text(x='295.44168' y='79.152824' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='295.44168' y='79.152824' style='font-size:16.6667px;stroke-width:.8') 16
      text(x='315.56412' y='68.505066' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='315.56412' y='68.505066' style='font-size:16.6667px;stroke-width:.8') &quot;
      path(d='m223.718 165.043v-22.9359' style='fill:none;stroke-width:.8;stroke:#000000')

  mixin outletSpacing()
    g()
      path(d='m0.4 220v-40' style='fill:none;stroke-width:.8;stroke:#000000')
      path(d='m90.2678 220v-40' style='fill:none;stroke-width:.8;stroke:#000000')
      path(d='m330.166 220v-40' style='fill:none;stroke-width:.8;stroke:#000000')
      path(d='m0.318234 199.098h30.8265' style='fill:#000000;stroke-width:.8;stroke:#000000')
      path(d='m0.318234 199.098 12.4608-1.75572-0.0325 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
      path(d='m90.0429 199.522h-28.872' style='fill:#000000;stroke-width:.8;stroke:#000000')
      path(d='m90.0429 199.522-12.4608 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
      text(x='50.391998' y='204.55153' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='50.391998' y='204.55153' style='font-size:16.6667px;stroke-width:.8') &quot;
      text(x='41.256088' y='204.46901' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='41.256088' y='204.46901' style='font-size:16.6667px;stroke-width:.8') 6
      path(d='m90.0429 199.522h81.8771' style='fill:#000000;stroke-width:.8;stroke:#000000')
      path(d='m90.0429 199.522 12.4608-1.75572-0.0325 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
      path(d='m329.542 199.522h-80.3214' style='fill:#000000;stroke-width:.8;stroke:#000000')
      path(d='m329.542 199.522-12.4608 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
      text(x='195.16968' y='203.95363' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='195.16968' y='203.95363' style='font-size:16.6667px;stroke-width:.8') &quot;
      text(x='177.11702' y='204.46938' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='177.11702' y='204.46938' style='font-size:16.6667px;stroke-width:.8') 16
      text(x='201.84464' y='204.46938' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
        tspan(x='201.84464' y='204.46938' style='font-size:16.6667px;stroke-width:.8') (TYP)

  mixin 48Inch(endCap, powerInput, position)
    g()
      - if(endCap === 'F')
        path(d='m0.4 296.8v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m720.382 296.8v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m12.7701 276.277h311.097' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m0.570883 276.277 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m708.319 276.277h-311.999' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m719.67 276.277-12.4484 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        text( x='353.90704' y='280.85291' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='353.90704' y='280.85291' style='font-size:16.6584px;stroke-width:.8') &quot;
        text( x='334.53668' y='281.08447' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='334.53668' y='281.08447' style='font-size:16.6584px;stroke-width:.8') 48
        text( x='365.8024' y='281.08447' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='365.8024' y='281.08447' style='font-size:16.6584px;stroke-width:.8') [4&apos;]
  
      - else if(endCap === 'R' && position === 'E')
        path(d='m0.2682 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m737.861 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m12.6383 278.074h311.097' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m0.439083 278.074 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m726.665 278.074h-311.73' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m737.615 278.074-12.4484 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        text(x='375' y='282.6496' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='375' y='282.6496' style='font-size:16.6584px;stroke-width:.8') &quot;
        text(transform='scale(.999501 1.0005)' x='334.40494' y='282.88116' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='334.40494' y='282.88116' style='font-size:16.6584px;stroke-width:.8') 49
        text(transform='scale(.999501 1.0005)' x='386.51447' y='282.88116' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='386.51447' y='282.88116' style='font-size:16.6584px;stroke-width:.8') [4&apos;]
        text(transform='scale(.999501 1.0005)' x='334.40494' y='282.88116' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='334.40494' y='282.88116' style='font-size:16.6584px;stroke-width:.8')
        g(transform='translate(-5 0)')
          path(d='m378.904 277.67h-17.7425' style='fill:none;stroke-width:.799998;stroke:#000000')
          text(x='365' y='273.16675' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
            tspan(x='365' y='273.16675' style='font-size:16.6667px;stroke-width:.8') 1
          text(x='365.42706' y='293.94037' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
            tspan(x='365.42706' y='293.94037' style='font-size:16.6667px;stroke-width:.8') 8

      - else if(endCap === 'R' && position === 'T')
        path(d='m-16.875 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m737.861 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m-16.875 278.074h340.61' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m-16.875 278.074 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m726.665 278.074h-311.73' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m737.615 278.074-12.4484 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        text(x='353.7753' y='282.6496' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='353.7753' y='282.6496' style='font-size:16.6584px;stroke-width:.8') &quot;
        text(x='334.40494' y='282.88116' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='334.40494' y='282.88116' style='font-size:16.6584px;stroke-width:.8') 50
        text(x='386.51447' y='282.88116' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='386.51447' y='282.88116' style='font-size:16.6584px;stroke-width:.8') [4&apos;]
        text(x='334.40494' y='282.88116' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='334.40494' y='282.88116' style='font-size:16.6584px;stroke-width:.8')
        path(d='m378.904 277.67h-17.7425' style='fill:none;stroke-width:.799998;stroke:#000000')
        text(x='366.02112' y='273.16675' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
          tspan(x='366.02112' y='273.16675')
            | 1
            tspan(x='366.02112' y='273.16675' style='font-size:16.6667px;stroke-width:.8')
        text(x='365.42706' y='293.94037' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
          tspan(x='365.42706' y='293.94037' style='font-size:16.6667px;stroke-width:.8') 4


      - else if(powerInput === 'C')
        g(transform='translate(0 8)')
          text( x='97.240456' y='305.38937' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
            tspan(x='97.240456' y='305.38937' style='font-size:16.6584px;stroke-width:.8') (OAL IS AFFECTED BY THE INSTALLATION OF THE CONDUIT BOX)

  mixin 64Inch(endCap, powerInput, position)
    g()
      - if(endCap === 'F')
        path(d='m0.4 296.8v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m960.268 296.8v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m12.7701 276.277h420.761' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m0.570883 276.277 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m960.268 276.277h-432.509' style='fill:#000000;stroke-width:.799999;stroke:#000000')
        path(d='m960.268 276.277-12.4484 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        text(x='463.78555' y='280.853' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='463.78555' y='280.853' style='font-size:16.6584px;stroke-width:.8') &quot;
        text(x='444.41519' y='281.08456' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='444.41519' y='281.08456' style='font-size:16.6584px;stroke-width:.8') 64
        text(x='475.68091' y='281.08456' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='475.68091' y='281.08456' style='font-size:16.6584px;stroke-width:.8') [5&apos; 4&quot;]
        text(x='454.52573' y='281.08456' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='454.52573' y='281.08456' style='font-size:16.6584px;stroke-width:.8')

      - else if(endCap === 'R' && position === 'E')
        path(d='m0.2682 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m975.6 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m12.6383 278.074h418.655' style='fill:#000000;stroke-width:.799999;stroke:#000000')
        path(d='m0.439083 278.074 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m975.6 278.074h-430.951' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m975.6 278.074-12.4484 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        text(x='334.40494' y='282.88116' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='334.40494' y='282.88116' style='font-size:16.6584px;stroke-width:.8')
        text(x='480' y='282.64969' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='480' y='282.64969' style='font-size:16.6584px;stroke-width:.8') &quot;
        text(x='441.59659' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='441.59659' y='282.88126' style='font-size:16.6584px;stroke-width:.8') 65
        text(x='493.70615' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='493.70615' y='282.88126' style='font-size:16.6584px;stroke-width:.8') [5&apos; 4&quot;]
        g(transform='translate(-5 0)')
          path(d='m486.042 277.67h-17.7425' style='fill:none;stroke-width:.799998;stroke:#000000')
          text(x='472.30701' y='273.16675' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
            tspan(x='472.30701' y='273.16675' style='font-size:16.6667px;stroke-width:.8') 1
          text(x='472.56506' y='293.94037' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
            tspan(x='472.56506' y='293.94037' style='font-size:16.6667px;stroke-width:.8') 8

      - else if(endCap === 'R' && position === 'T')
        path(d='m-16.875 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m975.6 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m-16.875 278.074h448.168' style='fill:#000000;stroke-width:.799999;stroke:#000000')
        path(d='m-16.875 278.074 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m975.6 278.074h-430.951' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m975.6 278.074-12.4484 1.75572 0.0329-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        text(x='334.40494' y='282.88116' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='334.40494' y='282.88116' style='font-size:16.6584px;stroke-width:.8')
        text(x='460.96695' y='282.64969' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='460.96695' y='282.64969' style='font-size:16.6584px;stroke-width:.8') &quot;
        text(x='441.59659' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='441.59659' y='282.88126' style='font-size:16.6584px;stroke-width:.8') 66
        text(x='493.70615' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='493.70615' y='282.88126' style='font-size:16.6584px;stroke-width:.8') [5&apos; 4&quot;]
        path(d='m486.042 277.67h-17.7425' style='fill:none;stroke-width:.799998;stroke:#000000')
        text(x='472.30701' y='273.16675' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
          tspan(x='472.30701' y='273.16675')
            | 1
            tspan(x='472.30701' y='273.16675' style='font-size:16.6667px;stroke-width:.8')
        text(x='472.56506' y='293.94037' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
          tspan(x='472.56506' y='293.94037' style='font-size:16.6667px;stroke-width:.8') 4


      - else if(powerInput === 'C')
        text(x='217.33783' y='313.71866' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='217.33783' y='313.71866' style='font-size:16.6584px;stroke-width:.8') (OAL IS AFFECTED BY THE INSTALLATION OF THE CONDUIT BOX)

  mixin 80Inch(endCap, powerInput, position)
    g()
      - if(endCap === 'F')
        path(d='m0.4 296.8v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m1200.27 296.8v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m12.7701 276.277h541.197' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m0.570883 276.277 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m1200.27 276.277h-551.809' style='fill:#000000;stroke-width:.799999;stroke:#000000')
        path(d='m1200.27 276.277-12.4484 1.75572 0.033-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        text(x='583.82092' y='280.853' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='583.82092' y='280.853' style='font-size:16.6584px;stroke-width:.8') &quot;
        text(x='564.45056' y='281.08456' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='564.45056' y='281.08456' style='font-size:16.6584px;stroke-width:.8') 80
        text(x='595.71631' y='281.08456' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='595.71631' y='281.08456' style='font-size:16.6584px;stroke-width:.8') [6&apos; 8&quot;]
        text(x='574.5611' y='281.08456' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='574.5611' y='281.08456' style='font-size:16.6584px;stroke-width:.8')

      - else if(endCap === 'R' && position === 'E')
        path(d='m0.2682 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m1217.6 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m12.6383 278.074h540.777' style='fill:#000000;stroke-width:.799999;stroke:#000000')
        path(d='m0.439083 278.074 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m1217.6 278.074h-550.6' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m1217.6 278.074-12.4484 1.75572 0.033-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        text(x='334.40494' y='282.88116' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='334.40494' y='282.88116' style='font-size:16.6584px;stroke-width:.8')
        text(x='604' y='282.64969' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='604' y='282.64969' style='font-size:16.6584px;stroke-width:.8') &quot;
        text(x='562.63306' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='562.63306' y='282.88126' style='font-size:16.6584px;stroke-width:.8') 81
        text(x='614.74255' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='614.74255' y='282.88126' style='font-size:16.6584px;stroke-width:.8') [6&apos; 8&quot;]
        g(transform='translate(-5 0)')
          path(d='m607.018 277.67h-17.7425' style='fill:none;stroke-width:.799998;stroke:#000000')
          text(x='593' y='273.16675' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
            tspan(x='593' y='273.16675' style='font-size:16.6667px;stroke-width:.8') 1
          text(x='593.54108' y='293.94037' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
            tspan(x='593.54108' y='293.94037' style='font-size:16.6667px;stroke-width:.8') 8

      - else if(endCap === 'R' && position === 'T')
        path(d='m-16.875 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m1217.6 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m-6.67681 278.074h560.092' style='fill:#000000;stroke-width:.799999;stroke:#000000')
        path(d='m-16.875 278.074 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m1217.6 278.074h-550.6' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m1217.6 278.074-12.4484 1.75572 0.033-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        text(x='334.40494' y='282.88116' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='334.40494' y='282.88116' style='font-size:16.6584px;stroke-width:.8')
        text(x='582.00342' y='282.64969' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='582.00342' y='282.64969' style='font-size:16.6584px;stroke-width:.8') &quot;
        text(x='562.63306' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='562.63306' y='282.88126' style='font-size:16.6584px;stroke-width:.8') 82
        text(x='614.74255' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='614.74255' y='282.88126' style='font-size:16.6584px;stroke-width:.8') [6&apos; 8&quot;]
        path(d='m607.018 277.67h-17.7425' style='fill:none;stroke-width:.799998;stroke:#000000')
        text(x='594.13513' y='273.16675' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
          tspan(x='594.13513' y='273.16675')
            | 1
            tspan(x='594.13513' y='273.16675' style='font-size:16.6667px;stroke-width:.8')
        text(x='593.54108' y='293.94037' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
          tspan(x='593.54108' y='293.94037' style='font-size:16.6667px;stroke-width:.8') 4


      - else if(powerInput === 'C')
        text(x='337.39783' y='313.71866' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='337.39783' y='313.71866' style='font-size:16.6584px;stroke-width:.8') (OAL IS AFFECTED BY THE INSTALLATION OF THE CONDUIT BOX)

  mixin 96Inch(endCap, powerInput, position)    
    g()
      - if(endCap === 'F')
        path(d='m0.4 296.8v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m1440.05 296.8v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m12.7701 276.277h672.955' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m0.570883 276.277 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m1440.05 276.277h-684.973' style='fill:#000000;stroke-width:.799999;stroke:#000000')
        path(d='m1440.05 276.277-12.4484 1.75572 0.033-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        text(x='713.6665' y='280.85309' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='713.6665' y='280.85309' style='font-size:16.6584px;stroke-width:.8') &quot;
        text(x='694.29614' y='281.08466' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='694.29614' y='281.08466' style='font-size:16.6584px;stroke-width:.8') 96
        text(x='725.56189' y='281.08466' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='725.56189' y='281.08466' style='font-size:16.6584px;stroke-width:.8') [8&apos;]
        text(x='694.5116' y='281.08456' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='694.5116' y='281.08456' style='font-size:16.6584px;stroke-width:.8')
        
      - else if(endCap === 'R' && position === 'E')
          path(d='m0.2682 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
          path(d='m1457.6 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
          path(d='m12.6383 278.074h668.733' style='fill:#000000;stroke-width:.799999;stroke:#000000')
          path(d='m0.439083 278.074 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
          path(d='m1457.6 278.074h-677.858' style='fill:#000000;stroke-width:.800001;stroke:#000000')
          path(d='m1457.6 278.074-12.4484 1.75572 0.033-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
          text(x='334.40494' y='282.88116' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
            tspan(x='334.40494' y='282.88116' style='font-size:16.6584px;stroke-width:.8')
          text(x='733' y='282.64969' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
            tspan(x='733' y='282.64969' style='font-size:16.6584px;stroke-width:.8') &quot;
          text(x='692.58795' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
            tspan(x='692.58795' y='282.88126' style='font-size:16.6584px;stroke-width:.8') 97
          text(x='744.69745' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
            tspan(x='744.69745' y='282.88126' style='font-size:16.6584px;stroke-width:.8') [8&apos;]
          g(transform='translate(-5 0)')
            path(d='m736.908 277.67h-17.7425' style='fill:none;stroke-width:.799998;stroke:#000000')
            text(x='723' y='273.16675' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
              tspan(x='723' y='273.16675' style='font-size:16.6667px;stroke-width:.8') 1
            text(x='723.43109' y='293.94037' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
              tspan(x='723.43109' y='293.94037' style='font-size:16.6667px;stroke-width:.8') 8

      - else if(endCap === 'R' && position === 'T')
        path(d='m-16.875 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m-5.25658 278.074h749.958' style='fill:#000000;stroke-width:.799999;stroke:#000000')
        path(d='m-16.875 278.074 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        text(x='334.40494' y='282.88116' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='334.40494' y='282.88116' style='font-size:16.6584px;stroke-width:.8')
        text(x='774.2442' y='282.64969' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='774.2442' y='282.64969' style='font-size:16.6584px;stroke-width:.8') &quot;
        text(x='754.87384' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='754.87384' y='282.88126' style='font-size:16.6584px;stroke-width:.8') 98
        text(x='806.98334' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='806.98334' y='282.88126' style='font-size:16.6584px;stroke-width:.8') [8&apos;]
        path(d='m799.194 277.67h-17.7425' style='fill:none;stroke-width:.799998;stroke:#000000')
        text(x='786.31104' y='273.16675' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
          tspan(x='786.31104' y='273.16675')
            | 1
            tspan(x='786.31104' y='273.16675' style='font-size:16.6667px;stroke-width:.8')
        text(x='785.71698' y='293.94037' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
          tspan(x='785.71698' y='293.94037' style='font-size:16.6667px;stroke-width:.8') 4
        path(d='m1456.88 278.186-12.4484 1.75572 0.033-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m1456.88 278.011h-617.516' style='fill:none;stroke-width:1.04167px;stroke:#000000')
        path(d='m1456.88 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')


      - else if(powerInput === 'C')
        text(x='457.34869' y='313.71866' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='457.34869' y='313.71866' style='font-size:16.6584px;stroke-width:.8') (OAL IS AFFECTED BY THE INSTALLATION OF THE CONDUIT BOX)

  mixin 96InchPlus(endCap, powerInput, position)
    - function convertInches(inches){
    -   let feetFromInches = Math.floor(inches / 12);
    -   let inchesRemainder = inches % 12;
 
    -   let result = feetFromInches + "' " + inchesRemainder + "\"";
    -   return result
    - }

    g()
      - if(endCap === 'F')
        path(d='m0.4 296.8v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m1565.3 296.8v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m12.7701 276.277h712.523' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m0.570883 276.277 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m1565.3 276.277-12.4484 1.75572 0.033-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        text(x='770' y='282.64969' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='770' y='280.85309' style='font-size:16.6584px;stroke-width:.8') &quot;
        path(d='m1440.05 276.277h-600.616' style='fill:none;stroke-width:1.04167px;stroke:#000000')
        path(d='m1464.41 276.277-11.9059 10.4373v-20.788l-12.4499 10.3507' style='fill:none;stroke-width:1.04167px;stroke:#000000')
        path(d='m1565.3 276.277h-100.894' style='fill:none;stroke-width:1.04167px;stroke:#000000')
        text(x='768' y='281.08466' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(text-anchor='end' x='768' y='281.08466' style='font-size:16.6584px;stroke-width:.8') !{options.pipeLength}
        text(x='778' y='281.08466' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='778' y='281.08466' style='font-size:16.6584px;stroke-width:.8') [#{convertInches(options.pipeLength)}]


      - else if(endCap === 'R' && position === 'E')
        path(d='m0.2682 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        path(d='m12.6383 278.074h717.21' style='fill:#000000;stroke-width:.799999;stroke:#000000')
        path(d='m0.439083 278.074 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        text(x='334.40494' y='282.88116' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='334.40494' y='282.88116' style='font-size:16.6584px;stroke-width:.8')
        text(x='790' y='282.64969' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='790' y='282.64969' style='font-size:16.6584px;stroke-width:.8') &quot;        
        
        path(d='m1582.9 278.186-12.4484 1.75572 0.033-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        path(d='m1440.29 278.011h-582.027' style='fill:none;stroke-width:1.04167px;stroke:#000000')
        path(d='m1464.18 278.011-11.6759 10.4373v-20.788l-12.2094 10.3507' style='fill:none;stroke-width:1.04167px;stroke:#000000')
        path(d='m1570.79 278.011h-106.617' style='fill:none;stroke-width:1.04167px;stroke:#000000')
        path(d='m1582.9 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        
        text(x='768' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(text-anchor='end' x='768' y='282.88126' style='font-size:16.6584px;stroke-width:.8') #{(parseInt(options.pipeLength) + 1)}
        text(x='797' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='797' y='282.88126' style='font-size:16.6584px;stroke-width:.8') [#{convertInches(options.pipeLength)}]

        g(transform='translate(-10 0)')
          path(d='m799.194 277.67h-17.7425' style='fill:none;stroke-width:.799998;stroke:#000000')
          text(x='785' y='273.16675' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
            tspan(x='785' y='273.16675' style='font-size:16.6667px;stroke-width:.8') 1
          text(x='785.71698' y='293.94037' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
            tspan(x='785.71698' y='293.94037' style='font-size:16.6667px;stroke-width:.8') 8

      - else if(endCap === 'R' && position === 'T')
        path(d='m-16.875 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        
        path(d='m-5.25658 278.074h731.681' style='fill:#000000;stroke-width:.799999;stroke:#000000')
        path(d='m-16.875 278.074 12.4484-1.75572-0.03247 3.72868z' style='fill:#000000;stroke-width:.8;stroke:#000000')
        text(x='334.40494' y='282.88116' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='334.40494' y='282.88116' style='font-size:16.6584px;stroke-width:.8')
        text(x='790' y='282.64969' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='790' y='282.64969' style='font-size:16.6584px;stroke-width:.8') &quot;
        
        text( style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(text-anchor='end' x='768'  y='282.88126' style='font-size:16.6584px;stroke-width:.8') #{(parseInt(options.pipeLength) + 2)}
        text(x='806.98334' y='282.88126' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='800' y='282.88126' style='font-size:16.6584px;stroke-width:.8') [#{convertInches(options.pipeLength)}]        
        
        path(d='m1582.9 278.186-12.4484 1.75572 0.033-3.72869z' style='fill:#000000;stroke-width:.8;stroke:#000000')        
        path(d='m1582.9 278.013h-97.103l-11.4585 10.0451v-20.0069l-11.9821 9.96178h-595.059' style='fill:none;stroke-width:1.04167px;stroke:#000000') 
        path(d='m1582.9 298.597v-40' style='fill:none;stroke-width:.8;stroke:#000000')
        
        g(transform='translate(-10 0)')
          path(d='m799.194 277.67h-17.7425' style='fill:none;stroke-width:.799998;stroke:#000000')
          text(x='786.31104' y='273.16675' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
            tspan(x='786.31104' y='273.16675' style='font-size:16.6667px;stroke-width:.8') 1
          text(x='785.71698' y='293.94037' style='fill:#000000;font-family:Arial;font-size:16.6667px;line-height:125%;stroke-width:.8')
            tspan(x='785.71698' y='293.94037' style='font-size:16.6667px;stroke-width:.8') 4

      - else if(powerInput === 'C')
        text(x='519.61389' y='313.71866' style='fill:#000000;font-family:Arial;font-size:16.6584px;line-height:125%;stroke-width:.8')
          tspan(x='519.61389' y='313.71866' style='font-size:16.6584px;stroke-width:.8') (OAL IS AFFECTED BY THE INSTALLATION OF THE CONDUIT BOX)

  



  //---------------------- logic for dimensions mixins ----------------------//
  //- Power Input
  +outletSpacing()
  - if (options.powerInput === 'L' || options.powerInput === 'W')
    +leadWhip()
  - else if (options.powerInput === 'S')
    +s19()

  //- Pipe Length
  - if (options.pipeLength === '48')
    +48Inch(options.endCap, options.powerInput, options.powerInputPosition)  
  - else if (options.pipeLength === '64')
    +64Inch(options.endCap, options.powerInput, options.powerInputPosition)  
  - else if (options.pipeLength === '80')
    +80Inch(options.endCap, options.powerInput, options.powerInputPosition)  
  - else if (options.pipeLength === '96')
    +96Inch(options.endCap, options.powerInput, options.powerInputPosition)  
  - else if (options.pipeLength > 96)
    +96InchPlus(options.endCap, options.powerInput, options.powerInputPosition)

  //- DMX Universe
  - if (options.dmxUniverses === '1')
    +singleDMXBackView()
    +DMXSide(0)
  - else if (options.dmxUniverses === '2')
    +dualDMXBackView()
    +DMXSide(77)