mixin sheetOne(options)
  //- mixins for main drawing
  include pipes
  include outlets
  include endCaps

  path(d='m1555.4 67.1426v37.7708zm-57.6629-0.09811v38.1632zm-417.399-0.131768v38.0853zm-35.0513 19.2132h568.552v18.9834h-568.552zm0-18.9834h568.552v18.9834h-568.552zm0-14.2753h568.552v14.2753h-568.552z' style='fill:none;stroke-width:.546875;stroke:#000000')
  text(transform='scale(1.00114 .998864)' x='1052.4081' y='79.75087' style='font-family:sans-serif;font-size:8.33333px;line-height:1.25;stroke-width:1.04167' xml:space='preserve')
    tspan(x='1052.4081' y='79.75087' style='font-size:8.33333px;stroke-width:1.04167') REV.
  text(transform='scale(1.00114 .998864)' x='1513.6436' y='79.75087' style='font-family:sans-serif;font-size:8.33333px;line-height:1.25;stroke-width:1.04167' xml:space='preserve')
    tspan(x='1513.6436' y='79.75087' style='font-family:Arial;font-size:8.33333px;stroke-width:1.04167') DATE
  text(transform='scale(1.00114 .998864)' x='1258.082' y='79.75087' style='font-family:sans-serif;font-size:8.33333px;line-height:1.25;stroke-width:1.04167' xml:space='preserve')
    tspan(x='1258.082' y='79.75087' style='font-family:Arial;font-size:8.33333px;stroke-width:1.04167') DESCRIPTION
  text(transform='scale(1.00114 .998864)' x='1239.9526' y='98.755829' style='font-family:sans-serif;font-size:8.33333px;line-height:1.25;stroke-width:1.04167' xml:space='preserve')
    tspan(x='1239.9526' y='98.755829' style='font-family:Arial;font-size:8.33333px;stroke-width:1.04167') SUBMITTAL APPROVAL
  text(transform='scale(1.00114 .998864)' x='1058.7578' y='98.755829' style='font-family:sans-serif;font-size:8.33333px;line-height:1.25;stroke-width:1.04167' xml:space='preserve')
    tspan(x='1058.7578' y='98.755829' style='font-size:8.33333px;stroke-width:1.04167') A
  text(transform='scale(1.00114 .998864)' x='1563.0349' y='79.75087' style='font-family:sans-serif;font-size:8.33333px;line-height:1.25;stroke-width:1.04167' xml:space='preserve')
    tspan(x='1563.0349' y='79.75087' style='font-family:Arial;font-size:8.33333px;stroke-width:1.04167') MADE BY
  text(transform='scale(1.00114 .998864)' x='1303.605' y='63.102608' style='font-family:sans-serif;font-size:8.33333px;line-height:1.25;stroke-width:1.04167' xml:space='preserve')
    tspan(x='1303.605' y='63.102608' style='font-family:Arial;font-size:8.33333px;stroke-width:1.04167') REVISIONS
  
  text(xmlns='http://www.w3.org/2000/svg' x='115.03624' y='768.60077' style='font-family:sans-serif;font-size:11.417px;line-height:1.25;stroke-width:1.04167' xml:space='preserve')
    tspan(x='115.03624' y='768.60077' style='font-size:11.417px;stroke-width:1.04167') NOTES:
    tspan(x='115.03624' y='782.87201' style='font-size:11.417px;stroke-width:1.04167') 1.   PATENTENTED PENDING CONNECTOR IN PIPE STRIP DESIGN, PATENT #10,955,096
    tspan(x='115.03624' y='797.14319' style='font-size:11.417px;stroke-width:1.04167') 2.   ETL LISTED TO STANDARD UL 1573.
    tspan(x='115.03624' y='811.41443' style='font-size:11.417px;stroke-width:1.04167') 3.   ELECTRICAL REQUIREMENTS: 1 /60HZ/120VAC, 20A PER CIRCUIT.
    tspan(x='115.03624' y='825.68567' style='font-size:11.417px;stroke-width:1.04167') 4.   SCH 80 ALUMINUM PIPE CONSTRUCTION.
    tspan(x='115.03624' y='839.95685' style='font-size:11.417px;stroke-width:1.04167') 5.   POWDER COATED FOR DURABLE FINISH.
    tspan(x='115.03624' y='854.22809' style='font-size:11.417px;stroke-width:1.04167') 6.   MEGA-BATTEN TO BE SUPPORTED EVERY 8&apos; MINIMUM.
    tspan(x='115.03624' y='868.49933' style='font-size:11.417px;stroke-width:1.04167') 7.   SUPPORT METHOD BY OTHERS UNLESS INCLUDED IN PURCHASE.
    tspan(x='115.03624' y='882.77051' style='font-size:11.417px;stroke-width:1.04167') 8.   DATA INPUT IS LOCATED IN THE BOX MOUNTED NEAR THE POWER INPUT.
    tspan(x='115.03624' y='897.04175' style='font-size:11.417px;stroke-width:1.04167') 9.   LAST DATA OUTLET IS TERMINATED. IF THERE ARE MORE THAN 32 DMX OUTPUTS,
    tspan(x='115.03624' y='911.31299' style='font-size:11.417px;stroke-width:1.04167')
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BATTEN WILL HAVE 2 RUNS OF DMX. THE FIRST DMX RUN WILL BE TERMINATED AT THE
    tspan(x='115.03624' y='925.58417' style='font-size:11.417px;stroke-width:1.04167')       OUTLET CLOSEST TO THE MIDPOINT. THE SECOND DMX RUN TERMINATION WILL BE
    tspan(x='115.03624' y='939.85535' style='font-size:11.417px;stroke-width:1.04167')
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THE LAST OUTLET IN THE BATTEN. IF THERE ARE GREATER THAN 64 OUTLETS A THIRD
    tspan(x='115.03624' y='954.12659' style='font-size:11.417px;stroke-width:1.04167')       RUN OF DMX WILL BE NECESSARY. DMX RUN 1 WILL BE TERMINATED AT THE END OF
    tspan(x='115.03624' y='968.39777' style='font-size:11.417px;stroke-width:1.04167')
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THE FIRST THIRD, DMX RUN 2 WILL BE TERMINATED AT THE END OF THE SECOND THIRD,
    tspan(x='115.03624' y='982.66901' style='font-size:11.417px;stroke-width:1.04167')       AND DMX RUN 3 WILL BE TERMINATED AT THE LAST OUTLET.
    tspan(x='115.03624' y='996.94025' style='font-size:11.417px;stroke-width:1.04167') 10. MEGA-BATTEN RUNS LONGER THAN 8&apos; ARE SHIPPED FULLY ASSEMBLED, FAN FOLDED
    tspan(x='115.03624' y='1011.2114' style='font-size:11.417px;stroke-width:1.04167')       RESULTING IN A 9&apos; NOMINAL SHIPPING LENGTH.
    tspan(x='115.03624' y='1025.4827' style='font-size:11.417px;stroke-width:1.04167') 11. MECHANICAL AND ELECTRICAL INSTALLATION BY OTHERS.

  
  path(d='m1149.11 133.883h382.671v20.3877h-382.671z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1149.11 154.271h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1340.71 154.271h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1149.11 171.25h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1340.71 171.25h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1149.11 188.229h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1340.71 188.229h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1149.11 205.208h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1340.71 205.208h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1149.11 222.187h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1340.71 222.187h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1149.11 239.166h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1340.71 239.166h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1149.11 256.146h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1340.71 256.146h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1149.11 273.125h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1340.71 273.125h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1149.11 290.104h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1340.71 290.104h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1149.11 307.083h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m1340.71 307.083h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')     
  path(d='m86.1279 86.5101h88.8939v20.3877h-88.8939z' style='fill:none;stroke-width:.520833;stroke:#000000')
  text(x='99.66729' y='101.67834' style='font-family:Arial;font-size:13.8889px;line-height:1.25;stroke-width:1.04167' xml:space='preserve')
    tspan(x='99.66729' y='101.67834' style='font-family:Arial;font-size:13.8889px;stroke-width:1.04167') ITEM NO.
  path(d='m881.003 86.5101h65.0291v20.3877h-65.0291z' style='fill:none;stroke-width:.520833;stroke:#000000')
  path(d='m175.022 86.5101h221.333v20.3877h-221.333z' style='fill:none;stroke-width:.520833;stroke:#000000')
  text(x='235.4631' y='101.59014' style='font-family:Arial;font-size:13.8889px;line-height:1.25;stroke-width:1.04167' xml:space='preserve')
    tspan(x='235.4631' y='101.59014' style='font-family:Arial;font-size:13.8889px;stroke-width:1.04167') PART NUMBER
  text(x='591.25446' y='101.67834' style='font-family:Arial;font-size:13.8889px;line-height:1.25;stroke-width:1.04167' xml:space='preserve')
    tspan(x='591.25446' y='101.67834' style='font-family:Arial;font-size:13.8889px;stroke-width:1.04167') DESCRIPTION
  text(x='898.51294' y='101.37654' style='font-family:Arial;font-size:13.8889px;line-height:1.25;stroke-width:1.04167' xml:space='preserve')
    tspan(x='898.51294' y='101.37654' style='font-family:Arial;font-size:13.8889px;stroke-width:1.04167') QTY.
  path(d='m396.355 86.5101h484.648v20.3877h-484.648z' style='fill:none;stroke-width:.520832;stroke:#000000') 

  //------------------------------------ specification block --------------------------------------------//
  text()
    tspan(x='1294.6943' y='148.05611' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') SPECIFICATIONS  
  text(x='1224.6851' y='166.79927')
    tspan(x='1224.6851' y='166.79927' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') COLOR 
  text(text-anchor='middle')
    tspan(x='1435' y='166.73958' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') !{options.specifications.color} 
  text()
    tspan(x='1217.9658' y='183.77844' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') PIPE SIZE 
  text(text-anchor='middle')
    tspan(x='1435' y='183.71603' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') !{options.specifications.pipeSize} 
  text()
    tspan(x='1196.8829' y='199.82175' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') PIPE LENGTH (IN) 
  text(text-anchor='middle')
    tspan(x='1435' y='199.59387' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') !{options.specifications.pipeLength} 
  text()
    tspan(x='1189.4664' y='217.73679' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') POWER INPUT TYPE 
  text(text-anchor='middle')
    tspan(x='1435' y='217.67709' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') !{options.specifications.powerInput} 
  text()
    tspan(x='1193.8203' y='233.78008' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') LEAD LENGTH (FT) 
  text(text-anchor='middle')
    tspan(x='1435' y='233.5522' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') !{options.specifications.leadLength} 
  text()
    tspan(x='1196.7689' y='251.61107' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') DATA INPUT TYPE 
  text(text-anchor='middle')
    tspan(x='1435' y='251.56491' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') !{options.specifications.dataInput} 
  text()
    tspan(x='1190.5977' y='268.67429' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') DATA OUTPUT TYPE 
  text(text-anchor='middle')
    tspan(x='1435' y='268.61459' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') !{options.specifications.dataOutput} 
  text()
    tspan(x='1205.9894' y='285.65344' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') #OF OUTPUTS 
  text(text-anchor='middle')
    tspan(x='1435' y='285.59375' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') !{options.specifications.numOutputs} 
  text()
    tspan(x='1186.45' y='301.69675' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') OUTPUT SPACING(IN) 
  text(text-anchor='middle')
    tspan(x='1435' y='301.47159' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') !{options.specifications.outputSpacing} 
  text()
    tspan(x='1193.6331' y='319.61179' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') # OF 20A CIRCUITS 
  text(text-anchor='middle')
    tspan(x='1435' y='319.55212' style='font-family:Arial;font-size:11.1111px;stroke-width:1.04167') !{options.specifications.numCircuits} 

    //--------------------------------------BOM Row and Data Variables---------------------------------//
    //-- translate y by 20.5 to add new row
  each item, index in options.bomItems
    g(transform=`translate(0 ${index * 20.5})`) 
      //- Item No. 
      path(d='m86.1279 106.898h88.8939v20.3877h-88.8939z' style='fill:none;stroke-width:.520833;stroke:#000000')
      text(text-anchor='middle' )
        tspan(x='130' y='122.08298' style='font-family:Arial;font-size:13.8889px;stroke-width:1.04167') !{item.itemNo}
      
      //- Part No. 
      path(d='m175.022 106.898h221.333v20.3877h-221.333z' style='fill:none;stroke-width:.520833;stroke:#000000')
      text(text-anchor='middle' )
        tspan(x='283' y='121.99821' style='font-family:Arial;font-size:13.8889px;stroke-width:1.04167') !{item.partNo}
      
      //- Description
      path(d='m396.355 106.898h484.648v20.3877h-484.648z' style='fill:none;stroke-width:.520832;stroke:#000000')
      text(text-anchor='middle' )
        tspan(x='630' y='121.16409' style='font-family:Arial;font-size:13.8889px;stroke-width:1.04167') !{item.description}
      
      //- Qty. 
      path(d='m881.003 106.898h65.0291v20.3877h-65.0291z' style='fill:none;stroke-width:.520833;stroke:#000000')
      text(text-anchor='middle' )
        tspan(x='913' y='122.08298' style='font-family:Arial;font-size:13.8889px;stroke-width:1.04167') !{item.qty}
    
  //------------------------------- Sheet One Title Block Variable -------------------------------//
  text(text-anchor='middle' )
    tspan(x='1526' y='99' style='font-family:Arial;font-size:10px;stroke-width:1.06509') !{options.date}
  text()
    tspan(x='1575.75' y='99' style='font-family:Arial;font-size:10px;stroke-width:1.06509') !{options.drawnBy}

  //---------------------------------------- Main Drawing ----------------------------------------//
  +pipes(options.pipeLength, options.pipeSize)
    +outlets(options.dataInput, options.numberOfOutlets)
    +endCaps(options.pipeLength, options.pipeSize, options.endCap)