mixin sheetOne(options)
  //- mixins for main drawing
  include pipes
  include outlets
  include endCaps
  include powerInputs
  include dmxBoxes
  include dimensions

  path(d='m1555.4 67.1426v37.7708zm-57.6629-0.09811v38.1632zm-417.399-0.131768v38.0853zm-35.0513 19.2132h568.552v18.9834h-568.552zm0-18.9834h568.552v18.9834h-568.552zm0-14.2753h568.552v14.2753h-568.552z' style='fill:none;stroke-width:.546875;stroke:#000000')
  text(style='font-family:sans-serif;font-size:8.33px;')
    tspan(x='1052.41' y='79.75' ) REV.
    tspan(x='1513.64' y='79.75' ) DATE
    tspan(x='1258.08' y='79.75' ) DESCRIPTION
    tspan(x='1239.95' y='98.76' ) SUBMITTAL APPROVAL
    tspan(x='1058.76' y='98.76' ) A
    tspan(x='1563.04' y='79.75' ) MADE BY
    tspan(x='1303.60' y='63.10' ) REVISIONS
  
  text(style='font-family:sans-serif;font-size:11.417px;line-height:1.25;stroke-width:1.04167' xml:space='preserve')
    tspan(x='115.04' y='768.60') NOTES:
    tspan(x='115.04' y='782.87') 1.   PATENTENTED CONNECTOR IN PIPE STRIP DESIGN, PATENT #10,955,096
    tspan(x='115.04' y='797.14') 2.   ETL LISTED TO STANDARD UL 1573.
    tspan(x='115.04' y='811.41') 3.   ELECTRICAL REQUIREMENTS: 1 &#8709; /60HZ/120VAC, 20A PER CIRCUIT.
    tspan(x='115.04' y='825.69') 4.   SCH 80 ALUMINUM PIPE CONSTRUCTION.
    tspan(x='115.04' y='839.96') 5.   POWDER COATED FOR DURABLE FINISH.
    tspan(x='115.04' y='854.23') 6.   MEGA-BATTEN TO BE SUPPORTED EVERY 8&apos; MINIMUM.
    tspan(x='115.04' y='868.5') 7.   SUPPORT METHOD BY OTHERS UNLESS INCLUDED IN PURCHASE.
    tspan(x='115.04' y='882.77') 8.   DATA INPUT IS LOCATED IN THE BOX MOUNTED NEAR THE POWER INPUT.
    tspan(x='115.04' y='897.04') 9.   LAST DATA OUTLET IS TERMINATED. IF THERE ARE MORE THAN 32 DMX OUTPUTS,
    tspan(x='115.04' y='911.31')
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BATTEN WILL HAVE 2 RUNS OF DMX. THE FIRST DMX RUN WILL BE TERMINATED AT THE
    tspan(x='115.04' y='925.58')       OUTLET CLOSEST TO THE MIDPOINT. THE SECOND DMX RUN TERMINATION WILL BE
    tspan(x='115.04' y='939.86')
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THE LAST OUTLET IN THE BATTEN. IF THERE ARE GREATER THAN 64 OUTLETS A THIRD
    tspan(x='115.04' y='954.13')       RUN OF DMX WILL BE NECESSARY. DMX RUN 1 WILL BE TERMINATED AT THE END OF
    tspan(x='115.04' y='968.4')
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THE FIRST THIRD, DMX RUN 2 WILL BE TERMINATED AT THE END OF THE SECOND THIRD,
    tspan(x='115.04' y='982.67')       AND DMX RUN 3 WILL BE TERMINATED AT THE LAST OUTLET.
    tspan(x='115.04' y='996.94') 10. MEGA-BATTEN RUNS LONGER THAN 8&apos; ARE SHIPPED FULLY ASSEMBLED, FAN FOLDED
    tspan(x='115.04' y='1011.21')       RESULTING IN A 9&apos; NOMINAL SHIPPING LENGTH.
    tspan(x='115.04' y='1025.48') 11. MECHANICAL AND ELECTRICAL INSTALLATION BY OTHERS.

  //------------------------------------ specification block --------------------------------------------//
  g(transform='translate(0,-20)')
    path(d='m1149.11 133.883h382.671v20.3877h-382.671z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1149.11 154.271h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1340.71 154.271h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1149.11 171.25h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1340.71 171.25h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1149.11 188.229h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1340.71 188.229h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1149.11 205.208h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1340.71 205.208h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1149.11 222.187h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1340.71 222.187h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1149.11 239.166h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1340.71 239.166h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1149.11 256.146h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1340.71 256.146h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1149.11 273.125h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1340.71 273.125h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1149.11 290.104h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1340.71 290.104h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1149.11 307.083h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1340.71 307.083h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1149.11 324.062h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m1340.71 324.062h191.079v16.9792h-191.079z' style='fill:none;stroke-width:.520833;stroke:#000000')

    text(style='font-family:Arial;font-size:11.1111px;')
      tspan(x='1294.69' y='148.06' ) SPECIFICATIONS  
      tspan(x='1224.69' y='166.8' ) COLOR 
      tspan(x='1217.97' y='183.78' ) PIPE SIZE 
      tspan(x='1196.88' y='201' ) PIPE LENGTH (IN) 
      tspan(x='1189.47' y='217.74' ) POWER INPUT TYPE 
      tspan(x='1193.82' y='234.5' ) LEAD LENGTH (FT) 
      tspan(x='1196.77' y='251.61' ) DATA INPUT TYPE 
      tspan(x='1190.6' y='268.67' ) DATA OUTPUT TYPE 
      tspan(x='1206' y='285.653' ) #OF OUTPUTS 
      tspan(x='1186.45' y='301.7' ) OUTPUT SPACING(IN) 
      tspan(x='1193.63' y='319.61' ) # OF 20A CIRCUITS 
    
    text(text-anchor='middle' style='font-family:Arial;font-size:11.1111px;')
      tspan(x='1435' y='166.74') !{options.specifications.color}
      tspan(x='1435' y='183.72') !{options.specifications.pipeSize} 
      tspan(x='1435' y='199.59') !{options.specifications.pipeLength} 
      tspan(x='1435' y='217.68') !{options.specifications.powerInput} 
      tspan(x='1435' y='233.55') !{options.specifications.leadLength} 
      tspan(x='1435' y='251.57') !{options.specifications.dataInput} 
      tspan(x='1435' y='268.61') !{options.specifications.dataOutput} 
      tspan(x='1435' y='285.59') !{options.specifications.numOutputs} 
      tspan(x='1435' y='301.47') !{options.specifications.outputSpacing} 
      tspan(x='1435' y='319.55') !{options.specifications.numCircuits}
      tspan(x='1245' y='337.53') APPROX ASSY WEIGHT
      tspan(x='1435' y='337.53') !{options.weight}
      tspan(x='1330' y='370' style='font-size:13px;font-weight:bold') IF YOU HAVE ANY QUESTIONS, OR NEED TECHNICAL/INSTALLATION ASSISTANCE  
      tspan(x='1330' y='390' style='font-size:13px;font-weight:bold') PLEASE CONTACT US AT SYSTEMS@THELIGHTSOURCE.COM OR CALL 704-504-8399. 

    //--------------------------------------BOM Row and Data Variables---------------------------------//
  g(transform='translate(13.25 13.25) scale(.85)')
    path(d='m86.1279 86.5101h88.8939v20.3877h-88.8939z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m881.003 86.5101h65.0291v20.3877h-65.0291z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m175.022 86.5101h221.333v20.3877h-221.333z' style='fill:none;stroke-width:.520833;stroke:#000000')
    path(d='m396.355 86.5101h484.648v20.3877h-484.648z' style='fill:none;stroke-width:.520832;stroke:#000000') 
    
    text(style='font-family:Arial;font-size:13.8889px;')
      tspan(x='99.67' y='101.68' ) ITEM NO.
      tspan(x='235.46' y='101.59' ) PART NUMBER
      tspan(x='591.25' y='101.68' ) DESCRIPTION
      tspan(x='898.51' y='101.38' ) QTY.
    
    //-- translate y by 20.5 to add new row
    each item, index in options.bomItems
      g(transform=`translate(0 ${index * 20.5})`) 
        path(d='m86.1279 106.898h88.8939v20.3877h-88.8939z' style='fill:none;stroke-width:.520833;stroke:#000000')
        path(d='m175.022 106.898h221.333v20.3877h-221.333z' style='fill:none;stroke-width:.520833;stroke:#000000')
        path(d='m396.355 106.898h484.648v20.3877h-484.648z' style='fill:none;stroke-width:.520832;stroke:#000000')
        path(d='m881.003 106.898h65.0291v20.3877h-65.0291z' style='fill:none;stroke-width:.520833;stroke:#000000')
        
        text(text-anchor='middle' style='font-family:Arial;font-size:11.5px;' )
          tspan(x='130' y='122.08') !{index + 1}
          tspan(x='283' y='122') !{item.partNo}
          tspan(x='636' y='121.16') !{item.description}
          tspan(x='913' y='122.08') !{item.qty}
  
  //------------------------------- Sheet One Title Block Variable -------------------------------//
  text(text-anchor='middle' style='font-family:Arial;font-size:10px;')
    tspan(x='1526' y='99') !{options.date}
    tspan(x='1584' y='99') !{options.drawnBy}

  //---------------------------------------- Main Drawing ----------------------------------------//
  g(transform=`translate(0 75)`)
    +pipes(options.pipeLength, options.pipeSize)
      +outlets(options.dataOutput, options.numberOfOutlets)
      +endCaps(options.pipeLength, options.pipeSize, options.endCap, options.powerInputPosition)
      +powerInputs(options.powerInput, options.pipeLength, options.pipeSize, options.powerInputPosition)
      +dmxBoxes(options.dmxUniverses, options.dataInput)
      +dimensions(options)